html 
    include head
    body
        include header-nav
        div(class="main")
            div(class="container")                          
                div(class="row")                    
                    div(class="col-lg-12")                        
                        div(class="block-about")
                            article
                                h3(class="text-center") А вы умеете открывать "новые двери"?
                                .about-img    
                                    img.vingeit(src="images/vingeit.jpg")                        
                                p  
                                    |5 лет назад, передо мной встал выбор. И я решилась. Открыла "дверь" в новую страну, переехав жить в Израиль. Новая страна, новый язык, 100% обнуление.
                                    |За спиной 12 летний опыт в натуропатии, в здоровьесбережении, в ведении собственного бизнеса. А здесь начинать нужно сначала.                            
                                    |И каждый раз открывать "новые двери."
                                    |И я открывала дверь за дверью. Подтвердила дипломы, приобрела новые знания, техники, методики, как быть еще эффективнее.
                                    |Открыла свой кабинет Smart clinic. Остеопатия, лечебный массаж, и натуропатия (коррекция питания натуральными нутриентами, очистка организма) для всех, кто решил получить результаты за короткое время!
                                    |И снова я открываю "новую дверь"! В Международный институт спорта Вингейт. Институт чемпионов! Кафедра альтернативной медицины. Здесь обучают самым эффективным методам восстановления пациентов! Осваиваю новое, расширяю возможности.
                                    |Двери Smart clinic открыты для вас!
                                    