html

    include head

    body
        include header-nav
        
        div(class="main")
            div(class="container")                          
                div(class="row")                    
                    div(class="col-lg-12")                        
                        div(class="block-main")
                            h2 Лечебный массаж в Ашкелоне
                            ul
                                li Натуропатия
                                li Остеопатия
                                li Концепция здоровья
                            //- div(class="text-center")
                            //-     a(href="tel:+972504468446" class="btn btn-success") +97250-446-8-446
                    div(class="col-lg-4")
                        div(class="service-card")
                            img(src="images/massage.jpg" alt="" srcset="")
                            div(class="description")
                                h2 Лечебный массаж
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veniam commodi quaerat voluptas unde sapiente magni architecto, assumenda ad dolorem.
                    div(class="col-lg-4")
                        div(class="service-card")
                            img(src="images/floral-medicine.jpg" alt="" srcset="")
                            div(class="description")
                                h2 Натуропатия
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veniam commodi quaerat voluptas unde sapiente magni architecto, assumenda ad dolorem.
                    div(class="col-lg-4")
                        div(class="service-card")
                            img(src="images/osteopathy.jpg" alt="" srcset="")
                            div(class="description")
                                h2 Остеопатия
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut veniam commodi quaerat voluptas unde sapiente magni architecto, assumenda ad dolorem.
                                    
                                        
                           
                            